.secao-horizontal .cartao {
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 1.25rem;
}

.secao-horizontal .cartao__imagem {
  /* grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4; */
  grid-area: 1/1/4/2;
}

.secao-horizontal .cartao__botao {
  grid-column: 3/4;
  grid-row: 1/4;
}

/*
  grid-column-start => Onde inicia a coluna
  grid-column-end => Onde temina a coluna
  grid-row-start => Onde inicia a linha
  grid-row-end => Onde temina a linha

  grid-row: 1/4; => grid-row: grid-row-start/grid-row-end;
  grid-column: 3/4; => grid-column: grid-column-start/grid-column-end;

  grid-area: 1/1/4/2; => grid-area: grid-row-start/grid-column-start/grid-column-end/grid-row-end;
*/
