.menu-lateral {
  display: grid;
  grid-template-rows: repeat(3,  auto) 1fr;
  row-gap: 2rem;
}

.menu-lateral__logo {
  justify-self: center;
}

/*
  row-gap => Espaçamento entre os elementos na linha
  column-gap => Espaçamento entre os elementos na coluna

  gap: row-gap column-gap;
*/